body,html{
	font-family: 'Inter UI',Roboto, sans-serif !important;
	height: 100% !important;
}
h2{
	font-weight:700 !important; 
}

.columns{
	margin-top: 0 !important; 
}
/*Side Navbar*/

.brand-logo{
	background-color: black;
	border-radius: 20px;
	width: 40px;
	height: 40px;
	/*margin-left: 30px;*/
	margin-top: 3px;
	transform: scale(1);
	transition: all 0.3s ease-in;
}

.brand-logo:hover{
	transform: scale(0.75);
	transition: all 0.3s ease-in;
}

.reg-brand{
	padding-left: 32px !important;
	}

.reg-change{
	padding-right: 20px !important;
	text-align: right;
}
section{
margin-bottom: 0 !important;
}
.sidenav{
	font-weight: 600;

}
.nav{

		border-right: 1px solid lightgrey;
		margin-left: 20px !important;
		padding-top: 20px !important;
		margin-bottom: 10px !important;
}

.main-content{
	margin-left: 20px !important;
	margin-right: 20px !important;
	padding-top: 20px !important;
}

.menu-list li{
	margin-bottom: 10px;
}
.menu-btm{
	
	padding-bottom: 5px
}
.feather{
	vertical-align: middle;
	margin-right: 15px;
}

.menu-text{
	/*padding-left: 10px;*/
}

.active{
	background-color: rgba(67, 92, 226, 1);
	border-radius: 5px !important;
}
.active a{
		color: #fff !important;
}

.active a:hover{
		color: #fff !important;
		background-color: rgba(67, 92, 226, 0.8) !important;
		transition: 0.2s all ease-in !important; 
}

a{
	border-radius: 3px !important;
}
button{
		font-family: 'Inter UI', sans-serif !important;
		font-weight: 600;
		border-radius: 5px !important;
		font-size: 20px !important;
		box-shadow: 0px 0px 0px transparent;
			transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);

}
button:hover{
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

/* Forms */
input {
 	border: 1px solid lightgrey;
 	padding : 10px;
 	padding-left: 20px;
 	/*box-shadow: none;*/
 	background-color: transparent !important;
 	transition: 0.2s all ease-in;
 	border-radius: 5px;
}

input:focus{
border: 1px solid grey;
}

.input{
 	border: 1px solid lightgrey !important;
 	/*box-shadow: none;*/
 	background-color: transparent !important;
 	transition: 0.2s all ease-in;
 	border-radius: 5px !important;
 	box-shadow: none;
 	border: none;
}

.input:focus{
	border: 1px solid grey !important;
}
}
.register{
/*	padding-top: 100px ;
*/}

.register input{
	margin-bottom: 5px !important;
}

.hero-head{
	margin-bottom: 100px;
}

.info{
	font-weight: 600;
}

.error-mssg{
	padding: 20px;
	background-color: rgba(255, 45, 45, 0.8);
	border-radius: 4px;
	color: white;
}

.xcontent{
	margin-top: 50px;
	margin-right: 15px;
}

.site{
		color: grey !important;
		transition: all 0.1s ease-in;

}

.site:hover{
		color: black !important;


}

.i-in{
	background:grey url(../assets/search.svg) no-repeat scroll 10px 10px;
	padding-left:50px;

}

/* Loader .loader class*/

*, *:before, *:after {
  box-sizing: border-box;
}


$animation-duration: 1.8s;

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 10px;
  background: #000;
  border-radius: 5px;
  animation: load $animation-duration ease-in-out infinite; 
  &:before, &:after {
    position: absolute; 
    display: block;
    content: "";
    animation: load $animation-duration ease-in-out infinite;
    height: 10px;
    border-radius: 5px;
  }
    &:before {
    top: -20px;
    left: 10px;
    width: 40px;
    background: #000;
  }
  &:after {
    bottom: -20px;
    width: 35px;
    background: #000; 
  }
}

@keyframes load {
  0% {
    transform: translateX(40px);
  }
  
  50% {
    transform: translateX(-30px);
  }
  100% {
    transform: translateX(40px);
  }
}

.noti-plus{
	background-color: #eee;
	border: 1px solid rgba(0,0,0,0.2);
	padding: 20px;
	padding-top : 10px;
	border-radius: 5px;
}

.select select{
	box-shadow: none !important;
	border: 1px solid black;
 	padding : 10px;
 	padding-left: 20px;
 	transition: 0.2s all ease-in;
 	border-radius: 5px;
}

.select select:focus{

	box-shadow: none !important;
	border: 1px solid black;
}

/*Insight Page CSS*/

.insights-base{
	padding-top: 30px;
	font-weight: 900;
	font-size: 1.7em;
	color: lightgrey;
}

.icon-box{
	width: 50px;
	height: 50px;
	background-color: lightgrey;
	color: white;
}