
/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}


body,html{
	font-family: 'Inter UI', sans-serif !important;
	height: 100% !important;
}
h2{
	font-weight:700 !important; 
}

.columns{
	margin-top: 0 !important; 
}
/*Side Navbar*/

.brand-logo{
	background-color: black;
	border-radius: 20px;
	width: 40px;
	height: 40px;
	/*margin-left: 30px;*/
	margin-top: 3px;
	transform: scale(1);
	transition: all 0.3s ease-in;
}

.brand-logo:hover{
	transform: scale(0.75);
	transition: all 0.3s ease-in;
}

.reg-brand{
	padding-left: 32px !important;
	}

.reg-change{
	padding-right: 20px !important;
	text-align: right;
}
section{
margin-bottom: 0 !important;
}
.sidenav{
	font-weight: 600;

}
.nav{

		border-right: 1px solid lightgrey;
		margin-left: 20px !important;
		padding-top: 20px !important;
		margin-bottom: 10px !important;
}

.main-content{
	margin-left: 20px !important;
	margin-right: 20px !important;
	padding-top: 20px !important;
}

.menu-list li{
	margin-bottom: 10px;
}
.menu-btm{
	
	padding-bottom: 5px
}
.feather{
	vertical-align: middle;
	margin-right: 15px;
}

.menu-text{
	/*padding-left: 10px;*/
}

.active{
	background-color: rgba(67, 92, 226, 1);
	border-radius: 5px !important;
}
.active a{
		color: #fff !important;
}

.active a:hover{
		color: #fff !important;
		background-color: rgba(67, 92, 226, 0.8) !important;
		transition: 0.2s all ease-in !important; 
}

a{
	border-radius: 3px !important;
}
button{
		font-family: 'Inter UI', sans-serif !important;
		font-weight: 600;
		border-radius: 5px !important;
		font-size: 20px !important;
}

/* Forms */
input {
 	border: 1px solid lightgrey;
 	padding : 10px;
 	padding-left: 20px;
 	/*box-shadow: none;*/
 	background-color: transparent !important;
 	transition: 0.2s all ease-in;
 	border-radius: 5px;
}

input:focus{
border: 1px solid grey;
}

.input{
 	border: 1px solid lightgrey !important;
 	/*box-shadow: none;*/
 	background-color: transparent !important;
 	transition: 0.2s all ease-in;
 	border-radius: 5px !important;
 	box-shadow: none;
 	border: none;
}

.input:focus{
	border: 1px solid grey !important;
}
}
.register{
/*	padding-top: 100px ;
*/}

.register input{
	margin-bottom: 5px !important;
}

.hero-head{
	margin-bottom: 100px;
}

.info{
	font-weight: 600;
}

.error-mssg{
	padding: 20px;
	background-color: rgba(255, 45, 45, 0.8);
	border-radius: 4px;
	color: white;
}

.xcontent{
	margin-top: 50px;
	margin-right: 15px;
}

.site{
		color: grey !important;
		transition: all 0.1s ease-in;

}

.site:hover{
		color: black !important;


}

.i-in{
	background:grey url(../assets/search.svg) no-repeat scroll 10px 10px;
	padding-left:50px;

}