<!DOCTYPE html>
<html>
<head>
	{% if subtite %}
	<title>Lumberjack - {{subtitle}}</title>
	{% else %}
	<title>Lumberjack</title>
	{% endif %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static' , filename = 'css/main.css') }}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
 <link rel="stylesheet" href="https://rsms.me/inter/inter-ui.css">	  
 <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<section class="columns is-fullheight">
		<aside class="column main-side aside hero is-2 is-fullheight nav">
			<div class="brand is-size-1">
				<div class="brand-logo"></div>
			</div>
			<div class="menu sidenav is is-size-4">
				<ul class="menu-list">
					<li><a href=""><i data-feather="zap"></i><span class="menu-text">Insights</span></a></li>
					<li><a href=""><i data-feather="alert-octagon"></i><span class="menu-text"><span class="menu-text">Issues</span></a></li>
					<li><a href=""><i data-feather="bar-chart-2"></i><span class="menu-text">Stream</span></a></li>
				</ul>
			</div>
			<div class="menu-btm is-fixed-bottom">
				<p class="is-size-4">Hi, Padam!</p>
				<br>
				<button class="button is-black is-fullwidth">Logout ?</button>
			</div>
		</aside>
		<aside class="main-content column is-10 is-fullwidth">
			<nav class="navbar">
				<p class="outer">
					<input type="text"  placeholder="Search Logs">
				</p>
			</nav>
		</aside>
	</section>
{% block content%}
{% endblock %}
<script>
      feather.replace()
    </script>
</body>
</html>